<%- include("partials/header", title) %>

<main>
  <div class="content">
    <div class="msg bubble">
      <p class="msg-txt">
        <span class="bold-txt">Content:</span> <%= message.text %>
      </p>
      <p><span class="bold-txt">User:</span> <%= message.user %></p>
      <p>
        <span class="bold-txt">Added:</span> <%=
        message.added.toString().split(" ").slice(0, 5).join(" ") %>
      </p>
    </div>

    <a href="/" class="link-btn">Back to Index</a>
  </div>
</main>

<%- include("partials/footer") %>
